{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background: linear-gradient(black,blue,red);
        }
        img
        {
            background-size: cover;
            height: 500px;
            width: 800px;

        }
       h1{
        color: white;
       }
    </style>
</head>
<body>
    <center>
        <h1>STATIC FILES</h1>
           <h2><img src="{% static 'images/aams.jpg' %}"></h2>
    </center>
</body>
</html>